# Application configuration

CONFIG_DEVICE_PB_PIN=13
CONFIG_DEVICE_LR_PIN=17
CONFIG_DEVICE_LG_PIN=18
CONFIG_DEVICE_MICROPHONE_WS_PIN=14
CONFIG_DEVICE_MICROPHONE_SCK_PIN=16
CONFIG_DEVICE_MICROPHONE_DATA_PIN=15
CONFIG_DEVICE_SPEAKER_WS_PIN=3
CONFIG_DEVICE_SPEAKER_SCK_PIN=2
CONFIG_DEVICE_SPEAKER_DATA_PIN=1

CONFIG_WIFI_MAX_TX_POWER=44

CONFIG_MQTT_USE_CORE_0=n
CONFIG_MQTT_USE_CORE_1=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_MAIN_TASK_STACK_SIZE=6144

# Setup flash

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# I2S

CONFIG_I2S_ENABLE_DEBUG_LOG=y

# SPIRAM

CONFIG_SPIRAM=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# CPU speed and power management

CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# MQTT

CONFIG_MQTT_TOPIC_PREFIX="intercom/client"
CONFIG_MQTT_DEVICE_MANUFACTURER="Pieter"
CONFIG_MQTT_DEVICE_MODEL="Intercom"
CONFIG_MQTT_DEVICE_MODEL_ID="Intercom v2"
