menu "Device Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config MQTT_BROKER_URL
        string "MQTT broker URL"

    config MQTT_USER_ID
        string "MQTT user ID"

    config DEVICE_CONFIG_ENDPOINT
        string "Device config endpoint (%s becomes MAC address)"

    config DEVICE_NETWORK_CONNECT_ATTEMPTS
        int "Network connection attempts"
        default 1

    config DEVICE_RESTART_ON_FAILURE_INTERVAL
        int "Timeout after which the device restarts when on the error screen in seconds"
        default 300

    config DEVICE_LONG_PRESS_MS
        int "Press duration for long press in ms"
        default 500

    config DEVICE_PB_PIN
        int "Push button pin"
        default -1

    config DEVICE_LR_PIN
        int "Red led pin"
        default -1

    config DEVICE_LG_PIN
        int "Green led pin"
        default -1

    config DEVICE_MICROPHONE_WS_PIN
        int "I2S microphones word select pin"
        default -1

    config DEVICE_MICROPHONE_SCK_PIN
        int "I2S microphones clock pin"
        default -1

    config DEVICE_MICROPHONE_DATA_PIN
        int "I2S microphones data pin"
        default -1

    config DEVICE_SPEAKER_WS_PIN
        int "I2S speaker word select pin"
        default -1

    config DEVICE_SPEAKER_SCK_PIN
        int "I2S speaker clock pin"
        default -1

    config DEVICE_SPEAKER_DATA_PIN
        int "I2S speaker data pin"
        default -1

endmenu
